.css-ahj2mt-MuiTypography-root {
    color: #7e7e7e;
    font-size: .9em !important;
}

.step-label span:nth-child(1) {
    color: #6d6d6d;
    font-weight: bold !important;
    font-size: 1.1em !important;
}